#budgetSubmit{
    color:white;
    background-color:#C46000;
    box-shadow: 3px 3px 3px black;
}

#budgetInput, #budgetSubmit{
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#searchForm{
    padding: 21px;
}

h1 {
    padding-top: 20px;
}