#tableHeader{
    color:white;
    font-weight: 600;
    font-size: 20px;
}

#tableCell{
    color:white;
    font-size: 15px;
}

#removeBtn, #purchaseBtn {
    color:white;
    background-color:#C46000;
    box-shadow: 3px 3px 3px black;
}

h1 {
    padding-top: 20px;
}
