#tableHeader{
    color:white;
    font-weight: 600;
    font-size: 20px;
}

#tableCell{
    color:white;
    font-size: 15px;
}

#addBtn, #getGame, #clearSearch{
    color:white;
    background-color:#C46000;
    box-shadow: 3px 3px 3px black;
}

#searchInput, #getGame, #clearSearch{
    margin: 10px
}

#searchForm, #resultsTable {
    padding-bottom: 20px;;
}

#searchInputContainer {
    display: block;
    text-align: center;
    margin: auto;
    padding: 20px;
}

